<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body style="margin: 5% 10% 5% 10%;">

  <div class="container-fluid">
    <h1 class="display-4">Conditions générales d'utilisation</h1>
    <p class="lead" style="margin-bottom:60px;">
      Agroscopik est la propriété exclusive de l'association REPAIR.
    </p>
    <!-- Article 1 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 1</strong>
      </div>
      <div class="col-lg-10">
        <strong>Applications des conditions générales - Opposabilité</strong><br/>
        <p>
          La création d’un compte faisant référence aux présentes CGU (« Conditions Générales d’Utilisation ») implique l'acceptation de plein droit de ces dernières et le renoncement par l’utilisateur à se prévaloir de ses conditions générales d’achat s’il en
          existe. Au cas où certaines stipulations des présentes CGU ne pourraient être appliquées pour quelque motif que ce soit, tous les autres termes et conditions restent valables. Les Parties peuvent déroger aux présentes CGU à la condition expresse
          de le faire dans un écrit de priorité supérieure, conformément à l’article 2 des présentes.
        </p>
        </br/>
      </div>
    </div>
    <!-- Article 2 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 2</strong>
      </div>
      <div class="col-lg-10">
        <strong>Intégralité et ordre des documents contractuels</strong><br/>
        <p>
          Les CGU constituent l'intégralité des stipulations organisant la relation entre les utilisateurs d’Agroscopik et REPAIR. Aucune stipulation figurant dans un autre document ne saurait engager le syndicat professionnel.
        </p>
        </br/>
      </div>
    </div>
    <!-- Article 3 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 3</strong>
      </div>
      <div class="col-lg-10">
        <strong>Définitions</strong><br/>
        <p>
          Les termes employés dans le présent document ont le sens que leur attribue la Commission ministérielle de terminologie informatique. Les termes originaux sont définis ci-après. Au sens des clauses, qu’ils soient utilisés au singulier ou au pluriel :
          <ul>
            <li>
              Les définitions <em>Données à caractère personnel/données personnelles</em>, <em>traitements</em>, <em>personne concernée</em>, ont la même signification que dans la loi dite loi informatique et libertés du 6 janvier 1978 modifiée et relative
              à la protection des personnes physiques à l’égard du traitement des données à caractère personnel ; Constitue une donnée à caractère personnel toute information relative à une personne physique identifiée ou qui peut être identifiée, directement
              ou indirectement, par référence à un numéro d’identification ou à un ou plusieurs éléments qui lui sont propres. Pour déterminer si une personne est identifiable, il convient de considérer l’ensemble des moyens en vue de permettre son identification
              dont dispose ou auxquels peut avoir accès le responsable du traitement ou toute autre personne.
            </li>
            <li>
              <em>Structure</em> : tout organisme, doté de la personnalité morale et dépendant de l’utilisateur, mettant en œuvre des traitements de données à caractère personnel.
            </li>
            <li>
              <em>Anomalie</em> : toute difficulté de fonctionnement d’Agroscopik, répétitive et reproductible ;
            </li>
            <li>
              <em>Anomalie bloquante</em> : désigne toute Anomalie rendant impossible l’utilisation de toute ou partie d’Agroscopik ;
            </li>
            <li>
              <em>Anomalie semi-bloquante</em> : désigne toute Anomalie autre que bloquante impliquant un fonctionnement en mode dégradé d’une ou plusieurs fonctionnalités du système ;
            </li>
            <li>
              <em>Anomalie mineure</em> : désigne toute Anomalie autre que bloquante ou semi-bloquante ;
            </li>
          </ul>
        </p>
        </br/>
      </div>
    </div>
    <!-- Article 4 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 4</strong>
      </div>
      <div class="col-lg-10">
        <strong>Objet des CGU</strong><br/>
        <p>
          Elles définissent les termes et conditions applicables au service d’accès à Agroscopik.
        </p>
      </div>
    </div>
    <!-- Article 4.1 -->
    <div class="row">
      <div class="col-sm-2">
        <em>Article 4.1</em>
      </div>
      <div class="col-lg-10">
        <u>Descriptif du service</u><br/>
        <p>
          Le service comprend :
          <ul>
            <li>
              un accès à l’application Agroscopik rattachée à un utilisateur, personne physique ;
            </li>
            <li>
              Les services d’hébergement et de sauvegarde des données, de maintenance, ci-après définis.
            </li>
          </ul>
        </p>
      </div>
    </div>
    <!-- Article 4.2 -->
    <div class="row">
      <div class="col-sm-2">
        <em>Article 4.2</em>
      </div>
      <div class="col-lg-10">
        <u>Disponibilité</u><br/>
        <p>
          L’Utilisateur pourra se connecter à tout moment à Agroscopik, à savoir 24 heures sur 24, 7 jours sur 7, y compris les dimanche et jours fériés. Une indisponibilité ponctuelle et temporaire reste possible en cas de maintenance évolutive ou corrective.
          REPAIR s’engage à mettre en place des contrôles efficaces de nature à procurer une assurance raisonnable que l’utilisateur puisse accéder et manipuler aux heures déterminées aux présentes CGU. Il s'engage à mettre en œuvre tous ses moyens et
          ses compétences pour assurer la performance, la continuité et la qualité d’Agroscopik, conformément aux usages de la profession et à l'état de l'art. En cas de faille de sécurité constatée, de nature à compromettre gravement la sécurité des
          données de l’utilisateur, REPAIR pourra procéder, sans préavis, à une interruption momentanée du service afin de remédier à la faille de sécurité dans les meilleurs délais. Dans cette hypothèse, l’utilisateur ne pourra faire aucune réclamation,
          ni mettre en jeu la responsabilité de REPAIR pour quelque cause que ce soit. L'accès peut s'effectuer :
          <ul>
            <li>
              à partir des postes fixes de l’utilisateur ;
            </li>
            <li>
              à partir de tout ordinateur nomade de l’utilisateur.
            </li>
          </ul>
        </p>
      </div>
    </div>
    <!-- Article 4.3 -->
    <div class="row">
      <div class="col-sm-2">
        <em>Article 4.3</em>
      </div>
      <div class="col-lg-10">
        <u>Accès</u><br/>
        <p>
          L’Utilisateur s’engage à respecter la procédure d’accès ci-dessous.
        </p>
        <ul>
          <li>
            Lorsqu’il agit en tant qu’utilisateur, exploitant agricole, il en impose le respect à ses ayants droit et, de manière générale, à toute autre personne agissant sous son contrôle ;

          </li>
        </ul>
        <p>
          Lorsqu’il agit en tant que conseiller technique, il est un représentant, personne physique d’une des structures suivantes :

        </p>
        <ul>
          <li>
            Organisations agricoles ;
          </li>
          <li>
            Chambre d’agriculture de Nouvelle-Calédonie ;
          </li>
          <li>
            Services provinciaux ;
          </li>
          <li>
            ADECAL, IAC, IRD.
          </li>
        </ul>
        <p>
          Cette liste pourra être révisée par décision de REPAIR. Ces structures sont garants et imposent le respect de la procédure d’accès à leurs employés, agents, et, de manière générale, à toute autre personne agissant sous leur contrôle (ci-après <em>Utilisateur</em>)
          :
        </p>
        <ol>
          <li>
            L’identification de l’utilisateur se fait au moyen d’un identifiant (« e-mail ») et d'un mot de passe. Ils sont destinés à réserver l'accès d’Agroscopik à l’utilisateur, à protéger l'intégrité et la disponibilité de la plateforme, ainsi que l'intégrité
            et la confidentialité des données personnelles de celui-ci.
          </li>
          <li>
            La connexion via un identifiant/mot de passe impose au préalable la création d’un compte comprenant :
            <ul>
              <li>
                la saisie d’un prénom, d’un nom, d’une adresse e-mail et d’un mot de passe.
              </li>
              <li>
                le recueil de consentement à l’utilisation des données personnelles pour accéder à l’outil Agroscopik, outil destiné à l’appui technique et à la valorisation des pratiques écologiques des agriculteurs,
              </li>
              <li>
                l’acceptation des présentes conditions générales d’utilisation.
              </li>
            </ul>
          </li>
          <li>
            Les données de création de compte ne peuvent être changées que sur l’initiative de l’utilisateur.
          </li>
        </ol>
        <p>
          L’identifiant et le mot de passe sont personnels et confidentiels. Les Parties conviennent que l’utilisateur a la responsabilité exclusive des « identifiant – mot de passe » et supportera seul les conséquences qui pourraient résulter de leur utilisation
          par des tiers. Il s’oblige à mettre en œuvre toute mesure pour en conserver le secret et empêcher leur divulgation sous quelque forme que ce soit, et notamment à ne pas les inscrire sur tout support, papier ou électronique, qui pourrait être
          aisément consulté par un tiers. L’utilisateur signale à REPAIR, dans les plus brefs délais, toute perte ou vol des « identifiant et mot de passe ».
          <br/> Il est à ce titre conseillé de :
        </p>
        <ul>
          <li>
            modifier son mot de passe régulièrement (tous les trois mois) ;
          </li>
          <li>
            de choisir un mot de passe suffisamment robuste (12 à 16 caractères alphanumériques et contenant des caractères spéciaux).
          </li>
        </ul>
        <p>
          En dehors des éléments relatifs à la création du compte, REPAIR n’a pas d’accès aux données saisies par l’utilisateur.
          <br/> Lorsque l’utilisateur est un exploitant agricole, il peut, sous sa responsabilité configurer un accès aux données de son exploitation en faveur des conseillers agricoles de son choix. Cet accès est paramétrable à partir des diverses fonctionnalités
          offertes par Agroscopik. A tout moment, l’exploitant agricole peut revenir sur ces droits consentis en les modifiant ou en les supprimant.

        </p>
      </div>
    </div>
    <!-- Article 4.4 -->
    <div class="row">
      <div class="col-sm-2">
        <em>Article 4.4</em>
      </div>
      <div class="col-lg-10">
        <u>Pré-requis techniques</u><br/>
        <p>
          L’utilisateur reconnaît avoir été informé par REPAIR de l'ensemble des pré-requis techniques nécessaires au fonctionnement normal et optimal des Services. Il lui appartient de les respecter en vue d’assurer le fonctionnement normal d’Agroscopik et ainsi
          de disposer :
        </p>
        <ul>
          <li>
            d'un ordinateur pourvu d'une connexion à Internet et d'une puissance suffisante pour naviguer sur Internet ;
          </li>
          <li>
            d’un navigateur Internet à jour (Microsoft Internet Explorer 10 et au-dessus, Microsoft Edge, Mozilla Firefox, Google Chrome) acceptant les cookies, les pop-up et le JavaScript ; Chrome est à privilégier ;
          </li>
          <li>
            d’un lien vers Agroscopik dans les sites de confiance enregistrés sur le proxy.
          </li>
        </ul>
        <p>
          Pour assurer le fonctionnement optimal de la plateforme, le client doit disposer :
        </p>
        <ul>
          <li>
            d'une connexion à Internet stable à 128 kbit/s ou supérieur ;
          </li>
          <li>
            d’un logiciel de lecture de fichiers PDF d'Acrobat Reader (portable document format), Excel Word;
          </li>
          <li>
            d’un affichage large de 1280 pixels ou supérieur.
          </li>
        </ul>
        <p>
          L’utilisateur est par ailleurs informé du fait que ces pré-requis peuvent évoluer, notamment pour des raisons techniques. Si une évolution intervient, l’utilisateur en sera informé au préalable dans les meilleures conditions.
        </p>
      </div>
    </div>
    <!-- Article 4.5 -->
    <div class="row">
      <div class="col-sm-2">
        <em>Article 4.5</em>
      </div>
      <div class="col-lg-10">
        <u>Internet</u><br/>
        <p>
          Le service d’Agroscopik repose sur la technologie Internet. L’utilisateur est averti des aléas techniques inhérents au réseau Internet, et des interruptions d’accès qui peuvent en résulter. Il reconnaît notamment que des fluctuations de la bande passante
          sont des éléments pouvant entraîner une discontinuité dans l’accès au serveur de REPAIR, indépendante de la volonté de ce dernier et extérieure à ses moyens techniques. Ainsi, REPAIR ne saurait être tenu responsable des éventuelles indisponibilités
          ou ralentissements liés aux caractéristiques du réseau Internet, ni de leurs impacts éventuels sur les activités de l’utilisateur.
        </p>
      </div>
    </div>
    <!-- Article 4.6 -->
    <div class="row">
      <div class="col-sm-2">
        <em>Article 4.6</em>
      </div>
      <div class="col-lg-10">
        <u>Hébergement et sauvegarde des données</u><br/>
        <p>
          REPAIR assure l’hébergement et la sauvegarde des données traitées via Agroscopik, sur un serveur situé en France. <br/> Est utilisé le service de journalisation (serveur Apache) d’OVH, hébergeur d’Agroscopik. Il est couplé à un service de journalisation
          interne au syndicat REPAIR.
        </p>
      </div>
    </div>
    <!-- Article 4.7 -->
    <div class="row">
      <div class="col-sm-2">
        <em>Article 4.7</em>
      </div>
      <div class="col-lg-10">
        <u>Maintenance</u><br/>
        <p>
          REPAIR prend en charge la maintenance corrective et évolutive d’Agroscopik.
        </p>
      </div>
    </div>
    <!-- Article 4.7.1 -->
    <div class="row">
      <div class="col-sm-2">
        <em>Article 4.7.1</em>
      </div>
      <div class="col-lg-10">
        <em><u>Maintenance corrective</u></em><br/>
        <p>
          REPAIR procède à la prise en compte du signalement de l’Anomalie sous 24 heures ouvrées. Il s’engage à corriger l’Anomalie et/ou à proposer une solution de contournement permettant l’utilisation d’Agroscopik :
        </p>
        <ul>
          <li>
            dans les plus brefs délais en cas d’Anomalie bloquante ou semi-bloquante ;
          </li>
          <li>
            lors de la mise à jour suivante d’Agroscopik, livrée dans le cadre de la maintenance évolutive, en cas d’Anomalie mineure.
          </li>
        </ul>
        <p>
          Un service support est mis à disposition de l’utilisateur et accessible du lundi au vendredi par courriel à l’adresse électronique suivante : agroscopik@repair.nc L’utilisateur fournit au service support tous les éléments permettant d’établir un diagnostic
          du problème signalé. Il s'engage à ce titre notamment à communiquer à l’appui de sa demande toutes les données nécessaires pour reproduire l'Anomalie et décrira en particulier les conditions d'exploitation d’Agroscopik lors de la survenance
          de l'Anomalie. REPAIR n’est pas responsable en cas refus de répondre à ses questions et demandes de renseignements complémentaires.
        </p>
      </div>
    </div>
    <!-- Article 4.7.2 -->
    <div class="row">
      <div class="col-sm-2">
        <em>Article 4.7.2</em>
      </div>
      <div class="col-lg-10">
        <em><u>Maintenance évolutive</u></em><br/>
        <p>
          La maintenance évolutive comprend les mises à jour et évolutions fonctionnelles d’Agroscopik. Il faut entendre par « mises à jour » les compilations des corrections d’Anomalies éventuelles, voire les améliorations d’Agroscopik liées aux évolutions de
          l’environnement technique ou de la normalisation (Update logiciel). Les opérations de maintenance peuvent s’effectuer pendant les jours ouvrés. Elles peuvent donc rendre Agroscopik momentanément indisponible. REPAIR fait tout son possible pour
          que la maintenance évolutive n’entraîne aucune régression, notamment en termes de performances sur le produit.
        </p>
      </div>
    </div>
    <!-- Article 4.8 -->
    <div class="row">
      <div class="col-sm-2">
        <em>Article 4.8</em>
      </div>
      <div class="col-lg-10">
        <u>Fin d'utilisation d'Agroscopik</u><br/>
        <p>
          L’utilisateur peut à tout moment cesser l’utilisation d’Agroscopik dans les conditions définies à l’article 9. Dans l’hypothèse où l’utilisateur cesse d’utiliser Agroscopik, ses « identifiant – mot de passe » seront supprimés de la base de données. REPAIR
          procède alors :
        </p>
        <ul>
          <li>
            Soit à la restitution de ses données personnelles transmises lors de la création du compte ;
          </li>
          <li>
            Soit à leur destruction ou leur anonymisation tout en apportant la preuve de celle-ci, à moins qu’une disposition légale, réglementaire ou conventionnelle ne l’empêche de restituer, détruire ou anonymiser la totalité ou une partie des données traitées.
            Dans ce cas, REPAIR s’oblige à ne plus traiter activement ces informations, il en garantit la sécurité et la confidentialité dans les mêmes conditions.
          </li>
        </ul>
      </div>
    </div>
    <!-- Article 5 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 5</strong>
      </div>
      <div class="col-lg-10">
        <strong>Propriété intellectuelle</strong><br/>
        <p>
          L’accès à Agroscopik ne confère ni ne peut conférer à l’utilisateur un quelconque droit de propriété intellectuelle et/ou industrielle sur le savoir-faire, les brevets, les Marques et autres Signes Distinctifs ainsi que, plus généralement, tous les autres
          droits de propriété intellectuelle et/ou industrielle ou autre dont est titulaire ou qu'utilise REPAIR. L’utilisateur déclare, de manière expresse et non équivoque, ne détenir aucun droit d'aucune sorte sur les Marques et Signes Distinctifs
          cités ci-dessus.
          <br/> REPAIR concède à l’utilisateur, pour ses besoins internes et professionnels uniquement, un droit personnel d’utilisation d’Agroscopik et des documents y étant mis à disposition, non exclusif, non cessible et non transférable, pour toute
          la durée d’utilisation et à tout endroit du monde où il voudrait avoir accès aux données de son compte.
          <br/> Le droit d’utilisation s’entend du droit de mettre en œuvre Agroscopik conformément à sa destination et sa configuration. En dehors des droits concédés aux présentes CGU et sans préjudice de celles-ci, sauf autorisation préalable et écrite
          de REPAIR, l’utilisateur n'est pas autorisé au titre des présentes à :
        </p>
        <ul>
          <li>
            copier, imprimer, transférer, transmettre ou afficher tout ou partie d’Agroscopik ;
          </li>
          <li>
            vendre, louer, sous-licencier ou distribuer de quelque façon que ce soit Agroscopik ;
          </li>
          <li>
            utiliser Agroscopik pour fournir des services similaires à ceux de REPAIR ;
          </li>
          <li>
            modifier, fusionner tout ou partie d’Agroscopik dans d'autres programmes informatiques ;
          </li>
          <li>
            compiler Agroscopik, le décompiler, le désassembler, le traduire, l'analyser, procéder au reverse engineering ou tenter d'y procéder, sauf dans les limites autorisées par la loi.
          </li>
        </ul>
        <p>
          Les conseillers agricoles dont la liste est définie à l’article 4.3 qui disposent d’un accès à Agroscopik impose à leurs personnels ou sous-traitants le respect des mêmes règles.
        </p>
        <p>
          Les Parties conviennent que les structures citées à l’article 4.3 sont responsables pour toute utilisation non conforme ou non autorisée d’Agroscopik par leurs personnels ou sous-traitants qui leur sont rattachés.
          <br/> En cas d’intérêt pour le produit, tout organisme quel que soit sa structure publique ou privée ou toute personne physique peut contacter REPAIR à l’adresse suivante : contact@repair.nc
        </p>
      </div>
    </div>
    <!-- Article 6 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 6</strong>
      </div>
      <div class="col-lg-10">
        <strong>Garantie d'éviction</strong><br/>
        <p>
          REPAIR assure à l’utilisateur la jouissance paisible d’Agroscopik et déclare que :
        </p>
        <ul>
          <li>
            Agroscopik est original au sens du Code de la propriété intellectuelle ; </li>
          <li>
            il est titulaire de tous les droits de propriété intellectuelle qui lui permettent de concéder une utilisation du produit ; </li>
          <li>
            Agroscopik n’est pas susceptible de porter atteinte aux droits des tiers. REPAIR garantit l’utilisateur contre toutes réclamations, oppositions relatives à Agroscopik, émanant de tout tiers invoquant la violation d’un droit quelconque auquel les présentes
            CGU porteraient atteinte, et notamment contre toute action en contrefaçon et/ou en concurrence déloyale et/ou parasitaire intentée par tout tiers. Il supportera tous les frais et dommages-intérêts y afférent.
          </li>
        </ul>
      </div>
    </div>
    <!-- Article 7 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 7</strong>
      </div>
      <div class="col-lg-10">
        <strong>Propriété des données</strong><br/>
        <p>
          L’utilisateur conserve la propriété exclusive des données qu’il a saisies dans le cadre d’Agroscopik et demeure seul responsable de la qualité, de la licéité, de la pertinence des données traitées.
        </p>
      </div>
    </div>
    <!-- Article 8 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 8</strong>
      </div>
      <div class="col-lg-10">
        <strong>Sécurité des données</strong><br/>
        <p>
          REPAIR s’engage à considérer comme « confidentielles », et entrant dans le champ d’application du secret professionnel auquel il est tenu (article 226- 13 du code pénal), toute information, écrite ou orale, qu’il serait amené à connaître durant l’utilisation
          de l’application. L’obligation de confidentialité de REPAIR continuera aussi longtemps que lesdites informations n’auront pas été rendues publiques par l’utilisateur. Conformément aux articles 34 et 35 de la loi N°78-17 modifiée, REPAIR et son
          personnel s’engagent à prendre toutes précautions utiles, au regard de la nature des données et des risques présentés par leur traitement, pour préserver la sécurité des données et, notamment, empêcher qu’elles soient déformées, endommagées,
          ou que des tiers non autorisés y aient accès. <br/> REPAIR s’engage à traiter rapidement et comme il se doit toute demande d’informations de l’utilisateur, permettant de garantir le respect et l’effectivité des obligations de sécurité
          et de confidentialité résultant des présentes CGU. Il s’oblige à ce que ces informations soient mises à jour régulièrement ou sur demande de l’utilisateur. <br/> Seront également communiquées toute demande adressée à REPAIR à l’attention de
          l’utilisateur. En cas de non-respect des dispositions précitées, la responsabilité de REPAIR pourra être engagée sur la base des dispositions des articles 226-17 et 226-22 du nouveau Code pénal.
        </p>
      </div>
    </div>
    <!-- Article 9 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 9</strong>
      </div>
      <div class="col-lg-10">
        <strong>Informatique et libertés</strong><br/>
        <p>
          REPAIR informe l’utilisateur que ses données sont enregistrées à des fins de gestion de la relation client et, le cas échéant, dans le cadre d’opérations de prospection. Des données statistiques pourront en découler et mises à disposition des conseillers
          agricoles tels que prévus à l’article 4.3. <br/> REPAIR se conforme aux obligations issues de la loi N°78-17 du 6 janvier 1978 modifiée le 6 août 2004, dite loi « Informatique et Libertés », notamment en ce qui concerne les formalités
          préalables à la mise en œuvre des traitements. Les données traitées dans le cadre d’opérations de prospection avec l’accord de l’utilisateur ne pourront être conservées plus de 3 ans après le dernier contact émanant de votre part ou dès connaissance
          expresse de votre opposition.<br/> Conformément aux articles 38 à 40-1 de la loi n° 78-17 précitée, l’utilisateur dispose d'un droit d’accès, de modification, de rectification ou de suppression de ses données collectées, qu’il peut exercer directement
          auprès de REPAIR à : REPAIR, BP 27098 – 98863 Nouméa ou par courriel à contact@repair.nc
        </p>
        <p>
          Lorsque l’utilisateur fait usage de son droit de suppression, ses données font alors l’objet d’un archivage pendant un délai de cinq (5) ans. A l’issue de ce délai, elles sont supprimées. L’absence de connexion sur le compte pendant une durée de trois
          (3) ans par l’utilisateur entraîne la mise en archive de ses données dans les mêmes conditions.
        </p>
      </div>
    </div>
    <!-- Article 10 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 10</strong>
      </div>
      <div class="col-lg-10">
        <strong>Responsabilité</strong><br/>
        <p>
          Chacune des Parties assume la responsabilité des conséquences résultant de ses fautes, erreurs ou omissions, ainsi que des fautes, erreurs ou omissions de ses sous-traitants éventuels et causant un dommage direct à l'autre Partie. En cas de faute prouvée par l’utilisateur, REPAIR ne sera tenu que de la réparation des conséquences pécuniaires des dommages directs et prévisibles du fait de l'exécution des CGU. En conséquence, REPAIR ne pourra en aucune circonstance encourir de responsabilité au titre des pertes ou dommages indirects de l’utilisateur qui pourraient survenir du fait ou à l'occasion de l'exécution des CGU et de ses suites. Par dommages indirects, on entend notamment, sans que cette liste soit limitative, tout gain manqué, préjudice commercial, perte de chiffre d'affaires ou de bénéfice, perte de clientèle, perte d'une chance, en relation ou provenant de l’inexécution ou de l’exécution fautive des services offerts par l’utilisation d’Agroscopik. <br />
          Ainsi, avant toute utilisation des fiches techniques telles que référencées sur le site Agroscopik, l’utilisateur est invité à contrôler les conditions d’utilisation des traitements phyto-sanitaires envisagés. REPAIR ne saurait avoir la qualité de référent technique et juridique.
        </p>
      </div>
    </div>
    <!-- Article 11 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 11</strong>
      </div>
      <div class="col-lg-10">
        <strong>Force majeure</strong><br/>
        <p>
          En cas de force majeure telle que définie par la jurisprudence des Cours et tribunaux français, rendant impossible l’exécution par l’une ou l’autre Partie de ses obligations, l’accès à Agroscopik sera suspendu pour une durée maximale de trente (30) jours, à compter de la notification de la survenance de l’événement de force majeure. L’accès reprendra lors de la disparition de la cause de suspension. Passé le délai de 30 (trente) jours, à défaut de reprise, l’utilisateur pourra cesser les services offerts par Agroscopik, sans qu’une quelconque indemnité ne soit due par REPAIR. De convention expresse entre les Parties, les cas de grève, et de manière générale tous mouvements sociaux, n’entrent pas dans la définition de la force majeure.
        </p>
      </div>
    </div>
    <!-- Article 12 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 12</strong>
      </div>
      <div class="col-lg-10">
        <strong>Dispositions générales</strong><br/>
        <p>
          Le service offert ne pourra faire l’objet d’aucune modification, cession, apport ou transfert, sous quelque forme que ce soit, notamment au profit d’un sous-traitant ultérieur sans information préalable de l’utilisateur.
          Dans l'hypothèse où une clause des présentes CGU serait annulée, sa nullité ne saurait porter atteinte aux autres stipulations, ni affecter leur validité dans leur ensemble. REPAIR s'efforcera alors de modifier la clause affectée afin qu'elle réponde aux dispositions légales et réglementaires applicables tout en respectant l'équilibre et les objectifs des CGU.
        </p>
      </div>
    </div>
    <!-- Article 13 -->
    <div class="row">
      <div class="col-sm-2">
        <strong>Article 13</strong>
      </div>
      <div class="col-lg-10">
        <strong>Réglement des litiges</strong><br/>
        <p>
          Les présentes CGU sont régies par le droit calédonien ou le droit national applicable au territoire. Les Parties conviennent que tout litige, dans le cadre de l’exécution des présentes, sera de la compétence exclusive des tribunaux de Nouvelle-Calédonie.
        </p>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>
